.navbar {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0;
  width: 100%;
  transition: background 0.6s ease-in;
  z-index: 99999;
  background-color: rgba(0, 0, 0, .4);
  border-radius: 0px;
}

a.navbar-brand {
  color: white;
  font-weight: bold;
}

.navbar-dark .navbar-nav .nav-link {
  position: relative;
  color: #fff;
  font-size: 1.6rem;
}

.navbar .dropdown-menu {
  padding: 0;
  background-color: rgba(0, 0, 0, .9);
}

ul.navbar-nav.ml-auto {
  list-style: none;
}

li {
  padding: 0px 15px;
  margin: 0px;
}

ul.navbar-nav.ml-auto {
  float: right;
  margin: 15px;
}

a.nav-item.nav-link {
  padding-top: 0px;
  padding-bottom: 0px;
}

.navbar .dropdown-menu {
  padding: 0px 0px;
  background-color: rgba(0, 0, 0, .9);
  width: 20px;
}

.dropdown-menu {
  min-width: 190px;
  left: -45%;
}

.navbar .dropdown-menu .dropdown-item {
  position: relative;
  padding: 3px 15px;
  color: #fff;
  font-size: 2rem;
  border-bottom: 1px solid rgba(255, 255, 255, .1);
  transition: color 0.2s ease-in;
}

a.dropdown-item {
  border-bottom: 2px solid #999;
  padding: 0px 15px;
  margin: 0px;
  list-style: none;
}

.navbar .dropdown-menu .dropdown-item:last-child {
  border-bottom: none;
}

.navbar .dropdown-menu .dropdown-item:hover {
  background: transparent;
  color: #0088bb;
}

.navbar .dropdown-menu .dropdown-item::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  width: 5px;
  background-color: #0088bb;
  opacity: 0;
  transition: opacity 0.2s ease-in;
}

.navbar .dropdown-menu .dropdown-item:hover::before {
  opacity: 1;
}

.header-area {
  position: relative;
  height: 105vh;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repear;
  background-size: cover;
}

.navbar.fixed-top {
  position: fixed;
  -webkit-animation: navbar-animation 0.6s;
  animation: navbar-animation 0.6s;
  background-color: rgba(0, 0, 0, .9);
}

.banner img {
  height: 722px;
  width: 100%;
  padding: 0px 0%;
}

.b-nav {
  display: none;
}

.b-container {
  display: none;
}

/* ----------------------- Navbar annimation--------------------- */

.navbar-dark .navbar-nav .nav-link::after {
  content: '';
  position: absolute;
  bottom: 15px;
  left: 30%;
  right: 30%;
  height: 1px;
  background-color: #fff;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  transition: transform 0.1s ease-in;
}

.navbar-dark .navbar-nav .nav-link:hover::after {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

.dropdown-menu {
  min-width: 200px;
  -webkit-animation: dropdown-animation 0.3s;
  animation: dropdown-animation 0.3s;
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
}

@-webkit-keyframes navbar-animation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes navbar-animation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes dropdown-animation {
  0% {
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
  }
  75% {
    -webkit-transform: scaleY(1.1);
    -ms-transform: scaleY(1.1);
    transform: scaleY(1.1);
  }
  100% {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
  }
}

@keyframes dropdown-animation {
  0% {
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
  }
  75% {
    -webkit-transform: scaleY(1.1);
    -ms-transform: scaleY(1.1);
    transform: scaleY(1.1);
  }
  100% {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
  }
}

/* ---------------------- Mobile --------------------------------------- */

button.navbar-toggler.collapsed {
  display: none;
  float: right;
  margin: 10px;
}

.b-nav, body:after {
  position: absolute;
  right: 0;
}

body:after {
  background: #000;
  content: '';
  height: 100%;
  left: 0;
  opacity: 0;
  padding: 0;
  top: 0;
  visibility: hidden;
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
  width: 100%;
}

body.open:after {
  z-index: 99999;
  opacity: 0.65;
  height: 100000%;
  visibility: visible
}

.b-nav {
  background: #000 none repeat scroll 0 0;
  position: absolute;
  top: 0;
  width: 320px;
  z-index: 12;
}

.b-nav ul {
  padding-left: 0px;
  padding-top: 60px;
}

.b-nav li {
  color: #fff;
  list-style-type: none;
  padding: 10px 10px 10px 0;
  text-align: left;
  -webkit-transform: translateX(345px);
  -ms-transform: translateX(345px);
  transform: translateX(345px)
}

.b-nav.open {
  visibility: visible;
  animation-duration: 0.4s;
  animation-fill-mode: both;
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
  height: 260px;
  width: 210px;
  z-index: 100001;
}

.b-nav:not(.open) {
  visibility: hidden;
  animation-duration: 0.4s;
  animation-fill-mode: backwards;
  -webkit-animation-name: slideOutLeft;
  animation-name: slideOutLeft
}

.b-nav.open li {
  padding-left: 30px;
  animation-duration: 0.2s;
  animation-fill-mode: both;
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft
}

.b-nav.open li:hover {
  background-color: #323a59;
}

.b-link {
  background: 0 0;
  border-left: rgba(255, 255, 255, 0)solid 2px;
  color: #fff;
  transition: all .4s ease;
  width: auto;
}

.b-link, .b-menu {
  -webkit-transition: all .4s ease;
}

.b-nav li {
  border-left: 5px solid #323a59;
}

.b-menu {
  cursor: pointer;
  display: block;
  height: 66px;
  padding-top: 20px;
  position: relative;
  top: -20px;
  transition: all 0.4s ease 0s;
  width: 43px;
  z-index: 12;
  right: 10px;
}

.b-bun--bottom, .b-bun--mid, .b-bun--top {
  height: 2px;
  width: 25px
}

.b-bun {
  background: black;
  transition: all .4s ease
}

.b-brand, .b-bun {
  position: relative;
  -webkit-transition: all .4s ease
}

.b-bun--top {
  top: 0
}

.b-bun--mid {
  top: 8px
}

.b-bun--bottom {
  top: 16px
}

.b-container {
  position: absolute;
  right: 0;
  top: 20px;
  z-index: 999999;
}

.b-container.open {
  z-index: 100001;
}

.b-container:hover:not(.open) .bun-bottom, .b-container:hover:not(.open) .bun-mid, .b-container:hover:not(.open) .bun-top {
  background: #2196f3
}

.b-container.open .b-bun--top {
  background: white;
  top: 9px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg)
}

.b-container.open .b-bun--mid {
  opacity: 0
}

.b-container.open .b-bun--bottom {
  background: white;
  top: 5px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg)
}

.b-container.open .b-brand {
  color: #fff
}

@media screen and (max-width: 767px) {
  a.navbar-brand {
    margin: 10px;
  }
  .header-area {
    height: 40vh;
  }
  .banner img {
    height: 300px;
  }
  ul.navbar-nav.ml-auto {
    display: none;
  }
  .b-nav {
    display: block;
  }
  .b-container {
    display: block;
  }
}

@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translate3d(345px, 0, 0);
    transform: translate3d(345px, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
}

@keyframes slideInLeft {
  0% {
    -webkit-transform: translate3d(345px, 0, 0);
    transform: translate3d(345px, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
}